@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@500;600&family=Lato:wght@400;700&display=swap");

.label {
  font-family: "Bitter", serif;
}

.minor {
  font-family: "Lato", sans-serif;
}

.aboutMe {
  padding: 5%;
}
