@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@500;600&family=Lato:wght@400;700&display=swap");

.jumbotron {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

form {
  margin: 1.5%;
}

.name {
  padding-top: 2%;
  padding-bottom: 2%;
}

.button {
  margin-top: 2%;
}

.label {
  font-family: "Bitter", serif;
}

.minor {
  font-family: "Lato", sans-serif;
}

.lead {
  padding: 2%;
}

.formCard {
  border: 1px solid darkgray;
  border-radius: 5px;
  box-shadow: 1px 1px 5px darkgrey;
  padding: 2%;
}

.white {
  background-color: rgb(254, 255, 255);
}
